---
import Layout from "../layouts/Layout.astro";
import { workPageContent } from "../config";
import ResumeItem from "../components/ResumeItem.astro";
import {marked} from "marked"

const workDescription = marked.parse(workPageContent.description)
---

<Layout seo={workPageContent.seo}>
  <section class="mt-10 max-w-2xl mx-auto px-6 scroll-reveal">
    <h1 class="font-bold text-3xl mb-10 text-center">Work</h1>
    <div class="grid grid-cols-1 group">
      {workPageContent.items.map((item) => <ResumeItem {...item} />)}
    </div>
  </section>
</Layout>
